<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gds_mail_engine</display-name>
  <servlet>
    <description>WriteMail</description>
    <display-name>WriteMail</display-name>
    <servlet-name>Write</servlet-name>
    <servlet-class>it.gds.mailengine.writeMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Write</servlet-name>
    <url-pattern>/Write</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>it.boostech.listener.StartListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Unsubscribe</display-name>
    <servlet-name>Unsubscribe</servlet-name>
    <servlet-class>it.boostech.servlets.Unsubscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unsubscribe</servlet-name>
    <url-pattern>/unsubscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartAndStop</display-name>
    <servlet-name>StartAndStop</servlet-name>
    <servlet-class>it.boostech.servlets.StartAndStop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartAndStop</servlet-name>
    <url-pattern>/start_stop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>it.boostech.servlets.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
</web-app>